@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

html{
    scroll-behavior: smooth;
    
}


.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}

.ft-outfit {
    font-family: 'Outfit', sans-serif;
}

